body {
  color: #5894CD;
  font-family: 'Press Start 2P', cursive;
  min-width: 500px;
  background-image: url(https://media.istockphoto.com/photos/abstract-defocused-blue-soft-background-picture-id937025430?b=1&k=20&m=937025430&s=170667a&w=0&h=dV83s5bygLIt2r5MJm5ARhXmWxtq8CtS5YMuydofQe8=);
  background-size: cover;
  background-position: center;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 4em;
  text-align: center;
  /* -webkit-text-stroke: .05px white; */
}

h2 {
  font-size: 1em;
  text-align: center;
  margin-bottom: 2em;
}

p {
  display: block;
  text-align: center;
}

p:nth-of-type(1) {
  font-size: .7em;
}

.high-score-banner {
  text-align: center;
  font-size: 2em;
  margin: 1em auto;
  display: block;
}

/* Start Screen */
.start-screen {
  color: #5894CD;
  font-family: 'Press Start 2P', cursive;
  max-width: 100%;
}

.start-screen button:hover{
  background: #5894CD;
  box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.4);
}

.start-screen h2 {
  font-size: 4em;
  text-align: center;
}

/* Buttons */
.btn {
  background: #5894CD;
  border: none;
  border-radius: 10em;
  box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 40%);
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: 'Press Start 2P', cursive;
  font-size: 1em;
  margin: 1em auto;
  padding: 1em 1em;
}

/* Main Game Screen */
#game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
  min-width: 500px
}

/* 3D Animation - https://3dtransforms.desandro.com/card-flip */

.scene {
  height: 130px;
  margin: 10px;
  width: 130px;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1.5s;
  transform-style: preserve-3d;
  background: none;
}

.card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card__face-front {
  background-color: white;
  background-image: url("images/blue-btc-logo.png");
  background-size: cover;
  background-position: center;
  border: 1px solid #5894CD;
}

.card__face-back {
  transform: rotateY( 180deg );
  background-size: cover;
  background-position: center;
}

.card.is-flipped {
  transform: rotateY(180deg);
}